@charset "utf-8";

/*----HEADER----*/


#header{}

.headerTop{
	height:40px;
	background:url(../images/common/bg_top.gif);
	position:relative;
}
.headerTop h1{
	width:120px;	
	font-size:0;
	line-height:40px;
	padding-left:10px;
		
}	
.headerTop h1 a{
	display:block;
	
}
.headerTop h1 img{
	width:100%;
	vertical-align:middle;
}


.panel{
	position:absolute;
	right:0;
	top:0;
	background:#10509d;
	height:100%;
	width:40px;
	
}
.panel a{
	position:absolute;
	width:100%;
	top:50%;
	margin-top:-8px;
	
}
.panel a:before,.panel span,.panel a:after{
	content:"";
	display:block;
	width:20px;
	height:2px;
	background:#fff;
	margin:0 auto;
}

.panel span{
	margin:5px auto;
	text-indent:-9999px;
}
	
/*GNB*/

.gnb{
	background:url(../images/common/bg_gnb.gif);
	height:29px;
}
.gnb li{
	float:left;
	width:20%;
	font-size:12px;
	text-align:center;
	line-height:29px;
	border-left:1px solid #595959;
	border-right:1px solid #363636;
	box-sizing:border-box;
}

.gnb li:first-child{
	border-left:0;
}

.gnb li:last-child{
	border-right:0;
}
.gnb li a{
	color:#fff;
}




/*---Footer---*/


#footer{
	background:url(../images/common/bg_footer_new.gif);
	color:#fff;
	font-size:10px;
	text-align:center;
	padding:10px 0;
	
}

.fBtn{
	display:inline-block;
	margin-top:10px;
}
.fBtn li{
	float:left;
	border:1px solid #fff;
	border-radius:3px;
	padding:5px 10px;
	margin:0 5px;
}
.fBtn li a{
	color:#fff;
}










